.u-colorWhite       { color: $color-white!important; }
.u-colorBlack       { color: $color-black!important; }
.u-colorBase        { color: $base-font-color  !important; }

.u-colorPrimary        { background-color: $color-primary !important;}
.u-bgColorPrimaryDark  { background-color: $color-primary-dark !important;}
.u-colorAccent         { background-color: $color-accent !important;}