.u-divider {
	width: 100%;
    height: 1px;
	color: #fff;
	background-color: none;
	border: 0;
	border-top: 1px solid $brdrColorDark;
	margin: rem($base-spacing-unit) 0;
}

.u-divider--vertical {
	width: 1px;
	margin: 0 rem($base-spacing-unit);
	border: 0;
    border-right: 1px solid $brdrColorDark;
}

.u-divider--dotted {
	border-style: dotted;
}